.titulop{
	font-size:100px;
	color:white;
}

.navbar{
	background-color: #000000;
}
body{
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}
form{
	align-content: center;
}

.panel{
	background: rgba(0,0,0,.8);
	width: 50%; /* Ancho al 50% de la pagina*/
 	margin: 0 auto; /*Centrar div*/
}

.table-hover{
	max-width: 100%;
}

.bderecha{
	margin: 30px 30px 30px 530px;
}

label.inicios{
	color: white;
	margin: 30px 0px 0px 20px;
}

small.inicios{
	color: white;
	margin-left: 5px;
}

input.inicios{
	margin: 0px 0px -10px 20px;
}

.imagenpeli{
	
	max-width: 150px;
}
.imagenpelidet {
	max-width: 350px;
}
.clasificacion{
	align-content: center;
}
.titulocoments{
	color: black;

}
.comentarios{
	color:black;
}
.star-rating{
	color:yellow;
}

/* ESTILO DE ESTRELLAS
*/

#calif p {
  text-align: left;
}

#calif label {
  font-size: 30px;
}

input[type="radio"] {
  display: none;
}

.estrellita {
  color: black;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}